node_modules/
dist/
coverage/
out/
release/

.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*
!.env.example

build/AsherPortal.iconset/
build/icon-master.png

.vscode/
.idea/
